table {
  border-collapse: collapse;
  margin: 12px;
  width: calc(100% - 24px);
}

thead, tbody {
  border-bottom: 2px solid #c8c8c8;
}

thead, tfoot {
  background-color: whitesmoke;
}
tr {
  border: 1px solid #c8c8c8;
}

td, th {
  padding: 10px;
  text-align: start;
}

thead {
  font-size: 14px;
  color: dimgray;
}

th {
  position: relative;
}

tr th:after {
  content: '';
  position: absolute;
  right: 0;
  top: 10%;
  background-color: #c8c8c8;
  height: 80%;
  width: 2px;
}

tr th:nth-child(4):after {
  display: none;
}

tfoot tr td{
  text-align: end;
}